.card
  width 600px
  min-height 200px
  padding 20px
  border 1px solid #dedede
  border-radius 10px
  box-shadow 0 5px 5px rgba(0, 0, 0, 0.3)
  position relative
  background #fff


  &__card-buttons
    position absolute
    top -29px

  &__title
    text-align center
    font-size 16px
    font-weight bold
    margin-bottom 20px

.input-todo
  padding 5px 10px
  border-radius 5px
  border 1px solid #dedede
  font-size 16px
  outline none

.edit-todo
  border none
  border-bottom 1px solid #dedede
  outline none
  font-size 14px
  width 100%
  resize none
  height 50px
  background rgba(0, 0, 0, 0.1)
.btn
  border none
  border-radius 5px
  background #42b983
  padding 6px 20px 8px
  color #fff
  cursor pointer

  &:focus
    opacity 0.7


  &:hover
    opacity 0.7

  &:disabled
    opacity 0.3
    cursor auto

  &--delete
    background tomato

  &--incompleted
    background #546E7A

.btn-card
  padding 6px 20px
  background #fff
  border 1px solid #dedede
  cursor pointer
  border-bottom none
  position relative
  outline none


  & + &
    margin-left -1px

    &:before
      content ''
      position absolute
      width 1px
      height 16px
      background #dedede
      left 0

  &:first-child
    border-top-left-radius 8px
    border-right none

  &:last-child
    border-top-right-radius 8px
    border-left none

  &.active
    color #42b983
    font-weight 600
