.card
  width 600px
  padding 20px
  min-height 200px
  border 1px solid #dedede
  border-radius 10px
  box-shadow 0 5px 5px rgba(0, 0, 0, 0.3)

  &__title
    text-align center
    font-size 16px
    font-weight bold
    margin-bottom 20px

.input-todo
  padding 5px 10px
  border-radius 5px
  border 1px solid #dedede
  font-size 16px
  outline none

.btn
  border none
  border-radius 5px
  background #42b983
  padding 6px 20px 8px
  color #fff
  outline none
  cursor pointer

  &:hover
    opacity 0.7

  &:disabled
    opacity 0.3
    cursor auto

